[user]
	name = TJ Peden
	email = tj.peden@tjcoding.com
[core]
	editor = 'C:\\Program Files (x86)\\Microsoft VS Code\\Code.exe' -n -w
	trustctime = false
	filemode = false
[push]
	default = simple
[pull]
	default = simple
	rebase = true
[alias]
	last = log -1 HEAD
	co = checkout
	br = branch
	ci = commit
	st = status
	cp = cherry-pick
	cl = clone
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
